body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    bottom: 15px;
    float: right;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;

}

.community-menu {
    color: #999;
}

.community-menu-hr{
    margin-bottom: 6px;
    margin-top: 10px;
}

.community-h5{
    margin-top: 12px;
}